:root{
    --fonte-principal: "Montserrat", sans-serif;
}

body {
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-container {
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px 20px;
}

.title {
    font-size: 24px;
    color: #333;
    margin: 0 0 20px;
}

.title-strong {
    font-weight: bold;
    color: #007bff;
}

.image-figure {
    margin: 0;
}

.image {
    max-width: 100%;
    height: 100px;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 8px;
}

.card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.card-list {
    list-style: none;
    padding: 10px;
    margin: 0 0 20px;
    display: flex;
    justify-content: center;

}

.card-list-item {
    margin: 0;
}

.card-button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #fff;
    font-family: var(--fonte-principal);
}


.card-button:hover {
    background-color: #0d1925;
    color: #fff;
}

.card-timer {
    font-size: 48px;
    text-align: center;
    margin: 20px 0;
}

.primary-button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.primary-button {
    background-color: #007bff;
    border: none;
    font-family: var(--fonte-principal);
    border-radius: 4px;
    padding: 10px 20px;
    width: 150px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.primary-button:hover {
    background-color: #0d1925;
}

.primary-button-icon {
    margin-right: 10px;
}
